
filebot/update-filebot.sh
filebot/reinstall-filebot.sh
filebot/maintainer.gpg
filebot/lib/Linux-x86_64/libzen.so
filebot/lib/Linux-x86_64/libmediainfo.so
filebot/lib/Linux-x86_64/libjnidispatch.so
filebot/lib/Linux-x86_64/lib7-Zip-JBinding.so
filebot/lib/Linux-armv7l/libzen.so
filebot/lib/Linux-armv7l/libz.so
filebot/lib/Linux-armv7l/libmediainfo.so
filebot/lib/Linux-armv7l/libjnidispatch.so
filebot/lib/Linux-armv7l/lib7-Zip-JBinding.so
filebot/lib/Linux-aarch64/libzen.so
filebot/lib/Linux-aarch64/libz.so
filebot/lib/Linux-aarch64/libmediainfo.so
filebot/lib/Linux-aarch64/libjnidispatch.so
filebot/lib/FreeBSD-amd64/libjnidispatch.so
filebot/jar/xz.jar
filebot/jar/xmpcore.jar
filebot/jar/xmlrpc.jar
filebot/jar/streamex.jar
filebot/jar/slf4j-jdk14.jar
filebot/jar/slf4j-api.jar
filebot/jar/simmetrics-core.jar
filebot/jar/sevenzipjbinding.jar
filebot/jar/rsyntaxtextarea.jar
filebot/jar/miglayout-swing.jar
filebot/jar/miglayout-core.jar
filebot/jar/metadata-extractor.jar
filebot/jar/lanterna.jar
filebot/jar/language-detector.jar
filebot/jar/jsoup.jar
filebot/jar/json-io.jar
filebot/jar/jna.jar
filebot/jar/jna-platform.jar
filebot/jar/jaxb-runtime.jar
filebot/jar/jaxb-core.jar
filebot/jar/java-objc-bridge.jar
filebot/jar/jakarta.xml.bind-api.jar
filebot/jar/jakarta.mail.jar
filebot/jar/jakarta.activation.jar
filebot/jar/ivy.jar
filebot/jar/istack-commons-runtime.jar
filebot/jar/imgscalr.jar
filebot/jar/icu4j.jar
filebot/jar/guava.jar
filebot/jar/groovy.jar
filebot/jar/groovy-xml.jar
filebot/jar/groovy-nio.jar
filebot/jar/groovy-jsr223.jar
filebot/jar/groovy-json.jar
filebot/jar/groovy-dateutil.jar
filebot/jar/groovy-datetime.jar
filebot/jar/glazedlists.jar
filebot/jar/filebot.jar
filebot/jar/failureaccess.jar
filebot/jar/ehcache.jar
filebot/jar/darcula.jar
filebot/jar/commons-logging.jar
filebot/jar/commons-io.jar
filebot/jar/caffeine.jar
filebot/jar/bencode.jar
filebot/jar/bcprov.jar
filebot/jar/bcpkix.jar
filebot/jar/bcpg.jar
filebot/jar/args4j.jar
filebot/FileBot_License_P25619969.psm
filebot/FileBot_4.9.4-portable.tar.xz
filebot/filebot.sh
filebot/data/0/logs/lock.log
filebot/data/0/logs/error.log
filebot/data/0/history.xml
filebot/data/0/cache/0/thetvdb_search_en_2.index
filebot/data/0/cache/0/thetvdb_search_en_2.data
filebot/data/0/cache/0/thetvdb_en_1c.index
filebot/data/0/cache/0/thetvdb_en_1c.data
filebot/data/0/cache/0/thetvdb_data_0_en_2.index
filebot/data/0/cache/0/thetvdb_data_0_en_2.data
filebot/data/0/cache/0/themoviedb_en-us_1c_etag_1.index
filebot/data/0/cache/0/themoviedb_en-us_1c_etag_1.data
filebot/data/0/cache/0/themoviedb_en-us_1c.index
filebot/data/0/cache/0/themoviedb_en-us_1c.data
filebot/data/0/cache/0/script_bundle_0_0.index
filebot/data/0/cache/0/script_bundle_0_0.data
filebot/data/0/cache/0/data_1.index
filebot/data/0/cache/0/data_1.data
filebot/data/0/cache/0/.lock
filebot/data/.license
